@model Universal.EBI.MVC.Models.ClassroomViewModel 
@{
    ViewData["Title"] = "Calendário";
}
<div class="container mt-3">
    <div class="d-flex align-items-center justify-content-center">
        <div class="card col-md-9">
            <div class="card-body">
                <div id='calendar'></div>
            </div>
        </div>
    </div>
</div>

<div id="createEvent" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Horário da Reunião</h5>
                <button type="button"
                        class="btn-close"
                        data-mdb-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <label class="form-label select-label">Horários</label>
                @*<select class="form-select" aria-label="Default select example">
                    <option selected>Selecione...</option>
                    <option value="07:00h">07:00h</option>
                    <option value="10:00h">10:00h</option>
                    <option value="15:00h">15:00h</option>
                    <option value="19:30h">19:30h</option>
                    </select>*@

                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" asp-for="MeetingTime" id="inlineRadio1" value="7:00H">
                    <label class="form-check-label" for="inlineRadio1">7:00H</label>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal" onclick="clear()">Fechar</button>
                <button id="btnCreateEvent" type="button" class="btn btn-primary" onclick="confim()">Confirmar</button>
            </div>
        </div>
    </div>
</div>

<div id="showFormCreateClassroom" class="modal" tabindex="-1">
    <form class="g-4" asp-controller="Classroom" asp-action="Create" method="get">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Criar Sala de Aula</h5>
                    <button type="button"
                            class="btn-close"
                            data-mdb-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h5 class="text-center"><strong>Tem certeza que deseja criar sala de aula?</strong></h5>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-primary">Confirmar</button>
                    @*@Html.ActionLink("Confirmar", "Create", "Classroom", new { Id = Model.ClassroomId }, new { @class = "btn btn-primary col-md-4" })*@
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    var title;
    document.addEventListener('DOMContentLoaded', function () {

        var calendarEl = document.getElementById('calendar');        

        var calendar = new FullCalendar.Calendar(calendarEl, {
            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay'
            },
            initialDate: '2020-09-12',
            navLinks: true, // can click day/week names to navigate views
            selectable: true,
            selectMirror: true,            
            select: function (arg) {

                $('#createEvent').modal('show');

                //$('select').change(function() {
                //    console.log($(this).val())
                //    value = '';
                //    var value = $(this).val();
                //    if(value){
                //        calendar.addEvent({
                //            title: value,
                //            start: arg.start,
                //            //end: arg.end,
                //            //allDay: arg.allDay
                //        })
                //        calendar.unselect()
                //    }

                //});

                title = $('#inlineRadio1').val();
                //var title = prompt('Event Title:');                
                if (title) {
                    calendar.addEvent({
                        title: title,
                        start: arg.start,
                        end: arg.end,
                        allDay: arg.allDay
                    })                    
                }
                calendar.unselect();
                
            },            
            eventClick: function (arg) {
                
                $('#showFormCreateClassroom').modal('show');

                //if (confirm('Are you sure you want to delete this event?')) {
                //    //arg.event.remove()
                //    $.ajax({
                //       type: 'GET',
                //       url: 'Url.Content("~/Classroom/Create")',
                //       success: function (view) {
                //          $('#content').html(view);
                //       }
                //    });
                //}
            },
            editable: true,
            dayMaxEvents: true, // allow "more" link when too many events
            events: [
                {
                    title: 'All Day Event',
                    start: '2020-09-01'
                },
                {
                    title: 'Long Event',
                    start: '2020-09-07',
                    end: '2020-09-10'
                },
                {
                    groupId: 999,
                    title: 'Repeating Event',
                    start: '2020-09-09T16:00:00'
                },
                {
                    groupId: 999,
                    title: 'Repeating Event',
                    start: '2020-09-16T16:00:00'
                },
                {
                    title: 'Conference',
                    start: '2020-09-11',
                    end: '2020-09-13'
                },
                {
                    title: 'Meeting',
                    start: '2020-09-12T10:30:00',
                    end: '2020-09-12T12:30:00'
                },
                {
                    title: 'Lunch',
                    start: '2020-09-12T12:00:00'
                },
                {
                    title: 'Meeting',
                    start: '2020-09-12T14:30:00'
                },
                {
                    title: 'Happy Hour',
                    start: '2020-09-12T17:30:00'
                },
                {
                    title: 'Dinner',
                    start: '2020-09-12T20:00:00'
                },
                {
                    title: 'Birthday Party',
                    start: '2020-09-13T07:00:00'
                },
                {
                    title: 'Click for Google',
                    url: 'https://localhost:5001/classroom/create',
                    start: '2020-09-28'
                }
            ]
        });    

        calendar.render();
    });

    function clear(){
        //$('#inlineRadio1').removeAttr('checked').checkboxradio('refresh');
        const radio = document.getElementById('inlineRadio1');
        radio.removeAttribute('checked');
    }
            
    function confim() {
        //title = $('#inlineRadio1').val();        
        //clear();
        $('#createEvent').modal('hide');        
    }

    function confirmShowForm(){
        $('#showFormCreateClassroom').modal('hide');
    }

</script>