@model Universal.EBI.MVC.Models.ClassroomViewModel
@{
    ViewData["Title"] = "Calendário";
}

<div class="container mt-3">
    <div class="d-flex align-items-center justify-content-center">
        <div class="card col-md-9">
            <div class="card-body">
                <div id='calendar'></div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="eventModal" role="dialog" aria-labelledby="eventModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="eventModalLabel">Event</h4>
                <button type="button" class="close" data-mdb-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form id="eventForm">
                    <div class="form-group row">
                        <label for="" class="col-sm-3 col-form-label">Title</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="EventTitle">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-3 col-form-label">Start Time</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="StartTime">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-3 col-form-label">End Time</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="EndTime" onchange="changeEndTime(event)">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-3 col-form-label">Description</label>
                        <div class="col-sm-9">
                            <textarea class="form-control" id="Description" rows="5"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-3 offset-sm-9">
                            <label><input type="checkbox" id="AllDay" onchange="changeAllDay(event)" /> All Day</label>
                        </div>
                    </div>
                    <input type="hidden" id="isNewEvent" />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="deleteEvent" onclick="deleteEvent()">Delete</button>
                <div>
                    <button type="button" class="btn btn-default" data-mdb-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="eventModalSave" onclick="eventModalSave()">Save Changes</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="showFormCreateClassroom" class="modal" tabindex="-1">
    <form class="g-4" asp-controller="Classroom" asp-action="Create" method="get">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Criar Sala de Aula</h5>
                    <button type="button"
                            class="btn-close"
                            data-mdb-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h5 class="text-center"><strong>Tem certeza que deseja criar sala de aula?</strong></h5>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal" onclick="deleteEvent()">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Confirmar</button>
                    @*@Html.ActionLink("Confirmar", "Create", "Classroom", new { Id = Model.ClassroomId }, new { @class = "btn btn-primary col-md-4" })*@
                </div>
            </div>
        </div>
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<script>
            
        var calendar;
        var title;
        let currentEvent;
        const formatDate = date => date === null ? '' : moment(date).format("YYYY-MM-DD h:mm A"); //.format("YYYY-MM-DD[T]HH:mm:ss");
        const fpStartTime = flatpickr("#StartTime", {
            enableTime: true,
            //dateFormat: "Y-m-d h:i K"
            time_24hr: true
        });
        const fpEndTime = flatpickr("#EndTime", {
            enableTime: true,
            //dateFormat: "Y-m-d h:i K"
            time_24hr: true
        });

        document.addEventListener('DOMContentLoaded', function () {

            var calendarEl = document.getElementById('calendar');

            calendar = new FullCalendar.Calendar(calendarEl, {
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay'
                },
                initialDate: '2022-05-01',
                navLinks: true, // can click day/week names to navigate views
                selectable: true,
                selectMirror: true,
                editable: true,
                dayMaxEvents: true, // allow "more" link when too many events
                select: function (event){
                    addEvent(event.startStr, event.endStr);
                    calendar.unselect();
                },
                eventClick: function(event, element){
                    updateEvent(event,element);
                },
                events: getEvents,
                eventDidMount: function(info) {
                    $(info.el).tooltip({
                      title: info.event.extendedProps.description,
                      placement: "top",
                      trigger: "hover",
                      container: "body"
                    });
                }            

            });

            calendar.render();
        });

        function getEvents(){
            return $.ajax({
                type: "GET",
                url: "/classroom/events",
                success: function(data, status, xhr) {
                    // handle success
                    //alert(`Resposta: ${data} | ${status}`);
                    return data;
                },
                error: function(xhr, status, error) {
                    // handle error
                    alert(`Algo deu errado: ${error} | ${status}`);
                }
            });
        }

        function addEvent(start, end) {
            currentEvent = event;
            $('#eventModal').modal('show');            
            $('#eventForm')[0].reset();
            $('#eventModalLabel').html('Add Event');
            $('#eventModalSave').html('Create Event');
            $('#isNewEvent').val(true);

            start = formatDate(start);
            end = formatDate(end);
            fpStartTime.setDate(start);
            fpEndTime.setDate(end);            
        }

         function addEventCalendar(event){
            console.log(event)
            calendar.addEvent({
                title: event.title,
                description: event.description,
                start: event.start,
                end: event.end,
                allDay: event.allDay,
            })

        }

        function updateEvent(event, element) {
            //console.log($('.fc-event-time').text());
            //console.log(event);
            currentEvent = event;

            $('#eventModal').modal('show');

            if ($(this).data("qtip")) $(this).qtip("hide");
            $('#eventModalLabel').html('Edit Event');
            $('#eventModalSave').html('Update Event');
            $('#EventTitle').val($('.fc-event-title').text());
            $('#Description').val(event.description);
            $('#isNewEvent').val(false);

            const start = formatDate(event.start);
            const end = formatDate(event.end);

            fpStartTime.setDate(start);
            fpEndTime.setDate(end);

            $('#StartTime').val(event.start);
            $('#EndTime').val(event.end);

            if (event.allDay) {
                $('#AllDay').prop('checked', 'checked');
            } else {
                $('#AllDay')[0].checked = false;
            }            
        }               

        function eventModalSave(){
            const title = $('#EventTitle').val();
            const description = $('#Description').val();
            const startTime = moment($('#StartTime').val());
            const endTime = moment($('#EndTime').val());
            const isAllDay = $('#AllDay').is(":checked");
            const isNewEvent = $('#isNewEvent').val() === 'true' ? true : false;

            if (startTime > endTime) {
                alert('Start Time cannot be greater than End Time');
                return;
            } else if ((!startTime.isValid() || !endTime.isValid()) && !isAllDay) {
                alert('Please enter both Start Time and End Time');
                return;
            }

            const event = {
                title,
                description,                
                startTime: $('#StartTime').val(),
                endTime: $('#EndTime').val(),
                isAllDay
            };
            //console.log(event)
            if (isNewEvent) {
                sendAddEvent(event);
            } else {
                sendUpdateEvent(event);
            }
        }               
                             
        function sendAddEvent(event){                    
            var data = {
                Title: event.title,
                Description: event.description,
                Start: event.startTime,
                End: event.endTime,
                AllDay: event.isAllDay
            };
            $.ajax({
                type: "POST",
                url: '/classroom/add-event',
                data: JSON.stringify(data),
                dataType: "json",
                async:false,
                contentType: "application/json; charset=utf-8",
                success: function (response, status, xhr) {
                    console.log(response)
                    const { message, eventId } = response;
                        if (message === '') {
                            const newEvent = {
                                title: event.title,
                                description: event.description,
                                start: event.startTime,
                                end: event.endTime,
                                alDay: event.isAllDay,
                                eventId
                            };

                            addEventCalendar(newEvent)

                            $('#calendar').fullCalendar('renderEvent', newEvent);
                            $('#calendar').fullCalendar('unselect');
                            $('#eventModal').modal('hide');
                            $('#showFormCreateClassroom').modal('show');                    

                        } else {
                            alert(`Algo deu errado: ${message}`);
                        }
                },
                error: function (xhr, status, errorThrown) {
                    //Here the status code can be retrieved like;
                    xhr.status;

                    //The message added to Response object in Controller can be retrieved as following.
                    xhr.responseText;

                    alert(`Algo deu errado: ${status}`);
                }
            });
        }        

        function sendUpdateEvent(event) {            
            var currentEvent = event;
            var data = {
                Title: event.title,
                Description: event.description,
                Start: event.startTime,
                End: event.endTime,
                AllDay: event.isAllDay
            };
            $.ajax({
                type: "POST",
                url: '/classroom/update-event',
                data: JSON.stringify(data),
                dataType: "json",
                async:false,
                contentType: "application/json; charset=utf-8",
                success: function (data, status, xhr) {                    
                    const { message } = data;
                    if (message === '') {
                        currentEvent.title = event.title;
                        currentEvent.description = event.description;
                        currentEvent.start = event.startTime;
                        currentEvent.end = event.endTime;
                        currentEvent.allDay = event.isAllDay;

                        $('#calendar').fullCalendar('updateEvent', currentEvent);
                        $('#eventModal').modal('hide');
                    } else {
                        alert(`Algo deu errado: ${message}`);
                    }
                },
                error: function (xhr, status, errorThrown) {
                    //Here the status code can be retrieved like;
                    xhr.status;

                    //The message added to Response object in Controller can be retrieved as following.
                    xhr.responseText;

                    alert(`Algo deu errado: ${status}`);
                }
            });
        }              

        function deleteEvent(){
            //if (confirm(`Do you really want to delete "${currentEvent.title}" event?`)) {
                //currentEvent.Id;
                var data = {
                    Id: "1"                    
                };
                $.ajax({
                    type: "POST",
                    url: '/classroom/delete-event',
                    data: JSON.stringify(data),
                    dataType: "json",
                    async:false,
                    contentType: "application/json; charset=utf-8",
                    success: function (data, status, xhr) {                    
                        const { message } = data;
                        if (message === '') {
                            $('#calendar').fullCalendar('removeEvents', currentEvent._id);
                            $('#eventModal').modal('hide');                            
                            $(".fc-daygrid-event-harness").css({'display':'none'})
                            //$('.fc-event-time').val('');
                            //$('.fc-event-title').val('');
                        } else {
                            alert(`Something went wrong: ${message}`);
                        }
                    },
                    error: function (xhr, status, errorThrown) {
                        //Here the status code can be retrieved like;
                        xhr.status;

                        //The message added to Response object in Controller can be retrieved as following.
                        xhr.responseText;

                        alert(`Algo deu errado: ${status}`);
                    }
                });
            }
        //} 
        
        function createClassroom() {
             console.log("Create");
            axios.get('/classroom/create')
                .then(function (response) {
                  console.log(response);
                  //console.log(response.status);
                  //console.log(response.statusText);
                  //console.log(response.headers);
                  //console.log(response.config);
                  confirmShowForm()
            });
        }

        function changeAllDay(e){
            if (e.target.checked) {
                $('#EndTime').val('');
                fpEndTime.clear();
                this.checked = true;
            } else {
                this.checked = false;
            }
        }

        function changeEndTime(e){
            $('#AllDay')[0].checked = false;
        }       

        function clear(){
                //$('#inlineRadio1').removeAttr('checked').checkboxradio('refresh');
                const radio = document.getElementById('inlineRadio1');
                radio.removeAttribute('checked');
        }

        function confirm() {
                //title = $('#inlineRadio1').val();
                //clear();
                $('#createEvent').modal('hide');
        }

        function confirmShowForm(){
                $('#showFormCreateClassroom').modal('hide');
        }

</script>