@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core Pipeline multiple artifacts V1.1</a>.</p>
</div>*@

<!-- Start your project here-->
@*<div class="text-center">
        <div class="text-center">
            <div class="text-center">
                <img class="mb-4"
                     src="https://mdbootstrap.com/img/logo/mdb-transparent-250px.png"
                     style="width: 250px; height: 90px;" />
                <h5 class="mb-3">Thank you for using our product. We're glad you're with us.</h5>
                <p class="mb-3">MDB Team</p>
                <a class="btn btn-primary btn-lg"
                   href="https://mdbootstrap.com/docs/standard/getting-started/"
                   target="_blank"
                   role="button">Start MDB tutorial</a>
            </div>
        </div>
    </div>*@
<!-- End your project here-->
<div class="card" style="text-align: center;">
    <div class="text-center">
        <img src="..\assets\images\heapn.jpg" class="card-img-top" alt="mdbootstrap">
    </div>
    <div class="card-body">
        <h4 class="card-title p-3"><strong>Agradecimento</strong></h4>
        <p class="card-text" style="text-align: justify;">
            Aos médicos, enfermeiros, terapeutas ocupacionais, integrantes da comissão de curativos,
            venho por meio deste meio de comunicação dizer que a profissão escolhida por vós é linda, entretanto requer muita dedicação e sabedoria,
            sabedoria esta concedida por Deus, a fim de lidarem com situações de elevado risco.
            Dessa forma, eu, ALEXANDER SILVA, como representante da minha família agradeço publicamente os serviços prestados pelos agentes de saúde 
            desde a portaria até o diretor do Hospital Estadual Adão Pereira Nunes, principalmente, a equipe médica e enfermeiros da pediatria por manterem
            e darem a chance do paciente JONATHAN DE SALES DA SILVA, Nº do prontuário: 460746 de viver, bem como em especial ao terapeuta ocupacional, Luan, 
            que conseguiu atrair a atenção do meu filho, deixando-o tranquilo mesmo em um ambiente hospitalar.
        </p>
        <p class="pt-3"><strong>Obrigado, profissionais da saúde!</strong></p>
        <p><strong>Obrigado, HEAPN!</strong></p>
        @*<a href="#" class="btn btn-primary">Go somewhere</a>*@
    </div>
</div>
