@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core Pipeline multiple artifacts V1.1</a>.</p>
</div>

<!-- Start your project here-->
<div class="container">
    <div class="d-flex justify-content-center align-items-center" style="width:200px;height:100px;position:absolute;left:50%;top:50%;margin-left:-100px;margin-top:-50px;">
        <div class="text-center">
            <img class="mb-4"
                 src="https://mdbootstrap.com/img/logo/mdb-transparent-250px.png"
                 style="width: 250px; height: 90px;" />
            <h5 class="mb-3">Thank you for using our product. We're glad you're with us.</h5>
            <p class="mb-3">MDB Team</p>
            <a class="btn btn-primary btn-lg"
               href="https://mdbootstrap.com/docs/standard/getting-started/"
               target="_blank"
               role="button">Start MDB tutorial</a>
        </div>
    </div>
</div>
<!-- End your project here-->
