<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />

    <title>@ViewData["Title"] = Universal.EBI.MVC</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/classroom.css" />
    <link href="~/font-awesome/css/all.min.css" type="text/css" rel="stylesheet">
    <link href="~/assets/css/main.css" rel="stylesheet" />    

    <!-- MDB icon -->
    <link rel="icon" href="~/mdb5-ui-kit/img/mdb-favicon.ico" type="image/x-icon" />

    <!-- Google Fonts Roboto -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" />

    <!-- MDB -->
    <link href="~/mdb5-ui-kit/css/mdb.min.css" rel="stylesheet" />

    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-datetimepicker.css" />*@

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css"
          integrity="sha512-mSYUmp1HYZDFaVKK//63EcZq4iFWFjxSL+Z3T/aCt4IO9Cejm03q3NKKYN6pFQzY0SBOr8h+eCIAZHPXcpZaNw=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />

    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.min.css">*@

    <!-- DataTables -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap5.min.css" />
    <link rel="stylesheet" href="https: //cdn.datatables.net/buttons/2.0.1/css/buttons.bootstrap5.min.css" />

    <style>

        body {
            /*margin: 40px 10px;*/
            padding: 0;
            font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
            font-size: 14px;
            background-color: lightcyan;
        }

        #calendar {
            max-width: 1100px;
            margin: 0 auto;
        }
    </style>

</head>
<body>
    <header>
        @*<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Universal.EBI.MVC</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="col-lg-3 col-4 navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </li>
            </ul>
            </div>
            </div>
            <div class="col-lg-9 col-sm-7 col-8 order-2 order-lg-3">
            <div class="d-flex justify-content-end">
            <div>
            <partial name="_LoginPartial" />
            </div>
            </div>
            </div>
            </nav>*@

        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-info">
            <!-- Container wrapper -->
            <div class="container-fluid">
                <!-- Toggle button -->
                <button class="navbar-toggler"
                        type="button"
                        data-mdb-toggle="collapse"
                        data-mdb-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                </button>

                <!-- Collapsible wrapper -->
                <div class="collapse navbar-collapse d-flex align-items-center" id="navbarSupportedContent">
                    <!-- Navbar brand -->
                    <a class="navbar-brand mt-2 mt-lg-0" href="#">
                        <img src="https://mdbootstrap.com/img/logo/mdb-transaprent-noshadows.png"
                             height="15"
                             alt=""
                             loading="lazy" />
                    </a>
                    <!-- Left links -->
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <!-- Navbar dropdown -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle"
                               href="#"
                               id="navbarDropdown"
                               role="button"
                               data-mdb-toggle="dropdown"
                               aria-expanded="false">
                                Relatórios
                            </a>
                            <!-- Dropdown menu -->
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li>
                                    <a class="dropdown-item" data-mdb-toggle="modal" data-mdb-target="#staticBackdrop1">Relatório anual</a>
                                </li>
                                <li><hr class="dropdown-divider" /></li>
                                <li>
                                    <a class="dropdown-item" data-mdb-toggle="modal" data-mdb-target="#staticBackdrop2">Relatório diário</a>
                                </li>
                                <li><hr class="dropdown-divider" /></li>
                                <li>
                                    <a class="dropdown-item" data-mdb-toggle="modal" data-mdb-target="#staticBackdrop3">Relatório por data</a>
                                </li>
                                <li><hr class="dropdown-divider" /></li>
                                <li>
                                    <a class="dropdown-item" data-mdb-toggle="modal" data-mdb-target="#staticBackdrop4">Relatório mensal</a>
                                </li>
                                <li><hr class="dropdown-divider" /></li>
                                <li>
                                    <a class="dropdown-item" data-mdb-toggle="modal" data-mdb-target="#staticBackdrop5">Relatório semanal</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Calendar">Calendário</a>
                        </li>
                    </ul>
                    <!-- Left links -->
                </div>
                <!-- Collapsible wrapper -->
                <!-- Right elements -->
                <div class="d-flex align-items-center">
                    <div class="d-flex justify-content-center">
                        <partial name="_LoginPartial" />
                    </div>
                </div>
                <!-- Right elements -->

                <div class="d-flex align-items-center">
                    <div class="d-flex justify-content-center">
                        <partial name="_ClassroomReportByDatePartial" />
                    </div>
                </div>
                <div class="d-flex align-items-center">
                    <div class="d-flex justify-content-center">
                        <partial name="_ClassroomReportByYearPartial" />
                    </div>
                </div>
                <div class="d-flex align-items-center">
                    <div class="d-flex justify-content-center">
                        <partial name="_ClassroomReportByMonthPartial" />
                    </div>
                </div>
                <div class="d-flex align-items-center">
                    <div class="d-flex justify-content-center">
                        <partial name="_ClassroomReportByWeekPartial" />
                    </div>
                </div>
                <div class="d-flex align-items-center">
                    <div class="d-flex justify-content-center">
                        <partial name="_ClassroomReportByDailyPartial" />
                    </div>
                </div>
            </div>
            <!-- Container wrapper -->
        </nav>
        <!-- Navbar -->

    </header>
    <div class="container">
        <main role="main" class="pb-3" id="content">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Universal.EBI.MVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
   @* <script src="~/lib/bootstrap/dist/js/bootstrap-datetimepicker.js"></script>
    <script src="~/lib/bootstrap/dist/js/locales/bootstrap-datetimepicker.pt-BR.js"></script>*@

    <script src="~/assets/js/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"
            integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"></script>*@
    @*<script src="~/jquery-ajax-unobtrusive-main/src/jquery.unobtrusive-ajax.js"></script>*@

    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.0.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.bootstrap5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.colVis.min.js"></script>


    <!-- MDB -->
    <script src="~/mdb5-ui-kit/js/mdb.min.js"></script>

    <script>
       
        $(function () {
            $('#datepicker').datepicker({ format: 'dd/mm/yyyy' });
        });

        $(function () {
            $('#datepicker1').datepicker({ format: 'dd/mm/yyyy' });
        });

        $(function () {
            $('#datepicker2').datepicker({ format: 'dd/mm/yyyy' });
        });

        $(function () {
            $('#datepicker3').datepicker({ format: 'dd/mm/yyyy' });
        });

         $(function () {
            $('#datepicker4').datepicker({ format: 'dd/mm/yyyy' });
        });

        //$(function () {
        //    $('#datepicker5').datepicker({ format: 'dd/mm/yyyy' });
        //});

    </script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
